header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 2023 !important;
  @include flex(row, center, center);
  transition: all .3s;
  .container{
    width: 100%;
    @include flex(row, center, center);
    nav{
      ul{
        @include flex(row, center, center);
        gap: 50px;
        li{
          a{
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            color: var(--white);
            transition: all .3s;
            position: relative;
            padding: 6px 0px;
            &::after{
              content: "";
              position: absolute;
              bottom: -30%;
              left: 50%;
              opacity: 0;
              transition: all .3s;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 3px;
              background-color: var(--white);
            }
            &:hover{
              color:var(--white);
              &::after{
                opacity: 1;
                bottom: -30%;
              }
            }
            &.active{
              color:var(--white);
              &::after{
                opacity: 1;
                bottom: -30%;
              }
            }
          }
        }
      }
    }
    .logo{
      pointer-events: none;
      display: none;
    }
    // Hambuger configuration from lib
    .hamburger {
      display: none;
      pointer-events: none;
      &.is-active {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: var(--white);
        }
      }
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: var(--white);
        height: 3px;
      }
    }
  }
  &.changeBackgroundColor {
    background-color: var(--white);
    border: 0.5px solid var(--gray-300);
    .container{
      nav{
        ul{
          li{
            a{
              color: var(--black-dark);
              &::after{
                background-color: var(--black-dark);
              }
              &:hover{
                color: var(--black-dark);
              }
              &.active{
                color: var(--black-dark);
              }
            }
          }
        }
      }
    }
  }
  .mobile__menu{
    position: absolute; // acompanha mesmo com rolagem
    top: 100px; // size of header nav
    height: calc(100vh - 100px); // viewport height
    width: 100%;
    background: var(--white);
    transition: all .3s ease;
    padding: 4rem 1.5rem;
    opacity: 0;
    transform: translateY(100%);
    nav{
      ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4rem;
        gap: 4rem;
        li{
          a{
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            color: var(--black-dark);
          }
        }
      }
    }
  }
  // Responsive
  @media (max-width: 768px){
    .container{
      @include flex(row, center, space-between);
      .logo, .hamburger {
        display: block;
        pointer-events: all;
      }
      .js-nav{
        display: none;
        pointer-events: block;
      }
    }
    &.changeBackgroundColor{
      z-index: 2023 !important;
      background-color: var(--primary-orange);
      border: 0.5px solid var(--primary-orange);
    }
  }
}
.menu-opened{
  header{
    .mobile__menu{
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
