.section__hero{
  background-color: var(--primary-background);
  position: relative;
  &::before{
    content: "";
    width: 30%;
    height: 64px;
    background-color: #fff;
    position: absolute;
    top: 25.1%;
    left: 0px;
    
  }
  .container{
    padding-top: 80px;
    padding-bottom: 80px;
    @include flex(row, center, space-between);
    z-index: 2;
    position: relative;
    .section__hero__text{
      h1{
        color: var(--primary-blue);
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -0.32px;
        margin-top: -20px;
      }



      div{
        margin-top: 36px;
        background-color: var(--white);
        padding: 12px 0px;
       
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -100px;
        position: relative;
        h2{
          color: var(--primary-blue);
          font-family: "Roboto", sans-serif;
          font-size: 40px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: -0.32px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 

        }
        
      }
      p{
        margin-top: 7px;
        width: 100%;
        max-width: 450px;
        color: var(--primary-blue);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
        strong{
          font-weight: 700;
        }
      }
      ul{
     margin-top: 80px;
        @include flex(row, center, flex-start);
        gap: 42px;
        li{
          @include flex(column, flex-start, flex-start);
          background-color: white;
          padding: 10px;
          min-width: 170px !important;
          max-width: 220px !important;
          border-radius: 20px;
         // box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          i{
            font-size: 23px;
            color: var(--primary-orange);
          }
          p, span{
            font-size: 18px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            line-height: 27px;
            letter-spacing: -0.32px;
          }
          p{
            color: var(--primary-blue);
          }
          span{
            color: var(--primary-orange);
          }
        }
      }
    }
    .section__hero__image{
      width: 100%;
      max-width: 470px;
      height: 376px;
      position: relative !important;
      @include flex(row, flex-end, flex-start);
      .women__image{
        position: absolute;
        top: -26px;
        right: 134px;
        max-width: 252px;
      }
      .section__hero__image__box{
        margin-left: -90px;
        @include flex(row, center, center);
        gap: 20px;
        background-color: var(--white);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 100%;
        max-width: 250px;
        img{
          width: 100%;
          max-width: 80px;
        }
      }
    }
  }
  // Responsive
  @media (max-width: 1200px){
    &::before{
      top: 21.1%;
    }
    .container{
      padding: 60px 15px;
      overflow: hidden;
      .section__hero__text{
        div{
          max-width: 100%;
        }
        ul{
          gap: 20px;
          @include flex(row, flex-start, flex-start);
          li{
            width: 100%;
            max-width: 180px;
          }
        }
      }
      .section__hero__image{
        .section__hero__image__box{
          gap: 10px;
          margin-left: -35px;
          max-width: 200px;
        }
      }
    }
  }
  @media (max-width: 1050px){
    &::before{
      top: 17.1%;
    }
    .container{
      .section__hero__text{
        ul{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
        }
      }
    }
  }
  @media (max-width: 991px){
    &::before{
      display: none;
      pointer-events: none;
    }
    .container{
      padding-top: 60px;
      padding-bottom: 60px;
      @include flex(column, center, center);
      .section__hero__text{
        @include flex(column, center, center);
        text-align: center;
        div{
          border-radius: 100px;
          padding: 12px 20px;
        }
        ul{
          margin-top: 30px;
          grid-template-columns: 1fr;
          li{
            max-width: 100%;
            @include flex(column, center, center);
            p{
              margin-top: 12px;
            }
          }
        }
      }
      .section__hero__image{
        margin-top: 30px;
        @include flex(column-reverse, center, center);
        img{
          max-width: 350px;
        }
        .section__hero__image__box{
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
        .women__image{
          position: relative;
          max-width: 170px;
          left: 0;
          right: 0;
          top: 0;
        }
      }
    }
  }
  @media (max-width: 768px){
    .container{
      padding-top: 40px;
      padding-bottom: 40px;
      .section__hero__text{
        h1{
          font-size: 32px;
        }
        div{
          padding: 6px 15px;
          h2{
            font-size: 32px;
          }
        }
      }
    }
  }
  @media (max-width: 567px){
    .container{
      padding-top: 30px;
      padding-bottom: 30px;
      .section__hero__text{
        h1{
          font-size: 28px;
        }
        div{
          padding: 6px 15px;
          h2{
            font-size: 28px;
          }
        }
      }
    }
  }
  @media (max-width: 375px){
    .container{
      .section__hero__text{
        h1{
          font-size: 24px;
        }
        ul{
          margin-top: 20px;
        }
        div{
          h2{
            font-size: 24px;
          }
        }
      }
    }
  }
}
.section__saiba{
  padding: 60px 0px;
  background-color: var(--white);
  .container{
    @include flex(column, center, center);
    gap: 40px;
    h3{
      width: 100%;
      max-width: 480px;
      color: var(--primary-blue);
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.32px;
      span{
        color: var(--primary-orange);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.32px;
      }
    }
  }
  @media (max-width: 991px){
    padding: 40px 0px;
    .container{
      h3{
        font-size: 28px;
        span{
          font-size: 28px;
        }
      }
    }
  }
  @media (max-width: 576px){
    padding: 30px 0px;
    .container{
      gap: 30px;
      h3{
        font-size: 26px;
        span{
          font-size: 26px;
        }
      }
      iframe{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  @media (max-width: 375px){
    .container{
      h3{
        font-size: 24px;
        span{
          font-size: 24px;
        }
      }
    }
  }
}


.section__apartamentos {
  background-color: var(--primary-background);
  padding: 60px 0px;
  position: relative !important;

  .container {
    @include flex(column, center, center);
    
    .section__apartamentos__title {
      h3 {
        width: 100%;
        max-width: 600px;
        color: var(--primary-blue);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.32px;
        
        span {
          color: var(--primary-orange);
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-size: 32px;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: -0.32px;
        }
      }
    }
    
    .section__apartamentos__slide {
      margin-top: 60px;
      width: 100%;
      
      .swiper-button-next, .swiper-button-prev {
        background-color: var(--primary-purple);
        height: 100%;
        width: 100%;
        max-width: 62px !important;
        max-height: 62px !important;
        color: var(--white) !important;
        top: 45%;
        border: 1px solid var(--primary-purple);
        transition: all .3s;
        border-radius: 100%;
        
        @media (max-width: 991px) {
          max-width: 42px !important;
          max-height: 42px !important;
        }
        
        &.swiper-button-disabled {
          background-color: white;
          border: 1px solid white;
          color: var(--primary-purple) !important;
        }
        
        &::after {
          width: 18px !important;
          height: 18px !important;
          font-size: 18px;
          padding-left: 10px;
          
          @media (max-width: 991px) {
            width: 14px !important;
            height: 14px !important;
            font-size: 14px;
          }
        }
        
        &:hover {
          border: 1px solid var(--primary-purple);
          background-color: var(--primary-purple);
          color: var(--white);
          
          &::after {
            color: var(--white);
          }
        }
      }
      
      .swiper-wrapper {
        width: 100%;
      }
    }
    
    .btn__more {
      margin-top: 60px;
      border-radius: 800px;
      border: 1px solid var(--primary-purple);
      background-color: var(--primary-purple);
      padding: 23px 43px;
      @include flex(row, center, center);
      color: var(--white);
      width: 100%;
      max-width: 290px;
      gap: 8px;
      
      i, p {
        font-size: 16px;
      }
      
      transition: all .3s;
      
      &:hover {
        background-color: transparent;
        color: var(--primary-purple);
      }
    }

    // Estilos para o tooltip
    .tooltip {
      position: relative;
      cursor: pointer;
      display: inline-block;
      margin-left: 5px;

      .tooltip-text {
        visibility: hidden;
        width: 320px;
        background-color: white;
        color:  var(--primary-purple);
        text-align: justify;
        padding: 10px;
        border-radius: 15px;
        position: absolute;
        z-index: 10000;
        bottom: 125%;
        left: -250%;
        margin-left: -150px;
        opacity: 0;
        //visibility: visible;
        transition: opacity 0.3s;
      }

      &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  // Responsividade
  @media (max-width: 991px) {
    padding: 40px 0px;
    
    .container {
      .section__apartamentos__title {
        h3 {
          font-size: 28px;
          
          span {
            font-size: 28px;
          }
        }
      }
      
      .section__apartamentos__slide {
        margin-top: 40px;
      }
      
      .btn__more {
        margin-top: 40px;
      }
    }
  }
  
  @media (max-width: 768px) {
    padding: 30px 0px;
    
    .container {
      .section__apartamentos__title {
        h3 {
          font-size: 26px;
          
          span {
            font-size: 26px;
          }
        }
      }
      
      .section__apartamentos__slide {
        margin-top: 30px;
      }
      
      .btn__more {
        margin-top: 30px;
      }
    }
  }
  
  @media (max-width: 576px) {
    .container {
      .section__apartamentos__title {
        h3 {
          font-size: 24px;
          
          span {
            font-size: 24px;
          }
        }
      }
    }
  }
}



.section__faqs{
  padding: 60px 0px;
  background-color: var(--white);
  .container{
    h3{
      width: 100%;
      max-width: 600px;
      color: var(--primary-blue);
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.32px;
      strong{
        color: var(--primary-blue);
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.32px;
      }
      span{
        color: var(--primary-orange);
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.32px;
      }
    }
    .section__faqs__body{
      @include flex(row, flex-start, space-between);
      width: 100%;
      gap: 40px;
      .accordion {
        margin-top: 46px;
        .accordion-item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.20);
          button[aria-expanded='true'] {
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
          }
        }
        button {
          position: relative;
          display: block;
          text-align: left;
          width: 100%;
          padding: 1.3em 0;
          color: var(--primary-blue);
          font-size: 18px;
          font-weight: 400;
          border: none;
          background: none;
          outline: none;
          &:hover {
            cursor: pointer;
            color: var(--primary-blue);
            &::after {
              cursor: pointer;
              color: var(--primary-blue);
              border: 1px solid var(--primary-blue);
            }
          }
          &:focus {
            box-shadow: none;
          }
          .accordion-title {
            color: var(--primary-blue);
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            max-width: 90%;
            display: inline-block;
          }
          .icon {
            display: inline-block;
            position: absolute;
            top: 24px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
            &::before {
              display: block;
              position: absolute;
              content: '';
              top: 9px;
              left: 5px;
              width: 10px;
              height: 2px;
              background: currentColor;
            }
            &::after {
              display: block;
              position: absolute;
              content: '';
              top: 5px;
              left: 9px;
              width: 2px;
              height: 10px;
              background: currentColor;
            }
          }
        }
        button[aria-expanded='true'] {
          color: var(--primary-blue);
          .icon {
            &::after {
              width: 0;
            }
          }
          +.accordion-content {
            opacity: 1;
            max-height: 100%;
            transition: all 200ms linear;
            will-change: opacity, max-height;
          }
        }
        .accordion-content {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: opacity 200ms linear, max-height 200ms linear;
          will-change: opacity, max-height;
          .s__content__text{
            padding: 20px 0px;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
          }
        }
      }
      .section__faqs__body__image{
        width: 100%;
        max-width: 250px;
        img{
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }
  @media (max-width: 991px){
    padding: 40px 0px;
    .container{
      h3{
        font-size: 28px;
        strong{
          font-size: 28px;
        }
        span{
          font-size: 28px;
        }
      }
    }
  }
  @media (max-width: 768px){
    .container{
      h3{
        font-size: 26px;
        strong{
          font-size: 26px;
        }
        span{
          font-size: 26px;
        }
      }
      .section__faqs__body{
        @include flex(column, center, center);
        gap: 30px;
        .accordion{
          margin-top: 30px;
          button{
            .accordion-title {
              font-size: 18px;
            }
          }
          .accordion-content {
            .s__content__text{
              font-size: 16px;
            }
          }
        }
        .section__faqs__body__image{
          width: 100%;
          max-width: 320px;
          img{
            width: 100%;
            max-width: 320px;
          }
        }
      }
    }
  }
  @media (max-width: 576px){
    padding: 30px 0px;
    .container{
      h3{
        font-size: 24px;
        strong{
          font-size: 24px;
        }
        span{
          font-size: 24px;
        }
      }
    }
  }
}
.section__support{
  padding-bottom: 80px;
  .container{
    h3{
      color: var(--primary-blue);
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 38.4px;
      letter-spacing: -0.32px;
    }
    .section__support__body{
      margin-top: 50px;
      border-radius: 4px;
      background: var(--primary-background);
      padding: 30px;
      .section__support__body__content{
        @include flex(row, flex-start, space-between);
        .content__left{
          h4{
            color: #000;
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 30px;
          }
          ul{
            @include flex(row, flex-start, flex-start);
            gap: 12px;
            margin-bottom: 30px;
            li{
              a{
                background-color: var(--white);
                border-radius: 100%;
                padding: 5px;
                @include flex(row, center, center);
                i{
                  font-size: 18px;
                  color: var(--primary-purple);
                }
              }
            }
          }
          a{
            @include flex(row, flex-start, flex-start);
            gap: 6px;
            &:hover{
              span{
                text-decoration: underline;
              }
            }
            p{
              color: #000;
              font-family: "Roboto", sans-serif;
              font-size: 14px;
              font-weight: 600;
              line-height: 120%;
            }
            span{
              color: var(--primary-purple);
              font-family: "Roboto", sans-serif;
              font-size: 14px;
              font-weight: 600;
              line-height: 120%;
            }
          }
        }
        .image__right__content{
          width: 100%;
          max-width: 445px;
          height: 100%;
          max-height: 250px;
          object-fit: cover;
          border-radius: 4px;
        }
      }
      p{
        color: #000;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight:400;
        line-height: 120%;
        &:not(:last-child){
          margin-bottom: 20px;
        }
      }
    }
  }
  // Responsive
  @media (max-width: 991px){
    padding-bottom: 60px;
    .container{
      h3{
        font-size: 28px;
        strong{
          font-size: 28px;
        }
        span{
          font-size: 28px;
        }
      }
      .section__support__body{
        .section__support__body__content{
          .image__right__content{
            display: none;
            pointer-events: none;
          }
        }
      }
    }
  }
  @media (max-width: 768px){
    padding-bottom: 30px;
    .container{
      h3{
        font-size: 26px;
        strong{
          font-size: 26px;
        }
        span{
          font-size: 26px;
        }
      }
    }
  }
  @media (max-width: 576px){
    padding-bottom: 30px;
    .container{
      h3{
        text-align: center;
        font-size: 24px;
        strong{
          font-size: 24px;
        }
        span{
          font-size: 24px;
        }
      }
      .section__support__body{
        margin-top: 30px;
        padding: 20px;
        text-align: center;
        .section__support__body__content{
          width: 100%;
          .content__left{
            width: 100%;
            @include flex(column, center, center);
            h4{
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}
.whatsapp-button{
  padding: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color:#25d366;
  background-size: 60%;
  overflow: hidden;
  @include flex(row, center, center);
  transition: all .3s;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 30 !important;
  i{
    font-size: 24px;
    color: white;
  }
  &:hover{
    background-color: #075e54;
  }
  @media (max-width: 768px){
    bottom: 20px;
    right: 10px;
  }
}
